@import "./styles/hero.css";
@import "./styles/navbar.css";
@import "./styles/about.css";
@import "./styles/services.css";
@import "./styles/consultation-banner.css";
@import "./styles/promo-banner.css";
@import "./styles/countries.css";
@import "./styles/process.css";
@import "./styles/why.css";
@import "./styles/testimonials.css";
@import "./styles/faq-appointment.css";
@import "./styles/faq-page.css";
@import "./styles/footer.css";
@import "./styles/contact.css";
@import "./styles/top-header.css";
@import "./styles/services-page.css";
@import "./styles/tourist-visa.css";
@import "./styles/countries-page.css";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(206, 206, 217);
  color: #1f2937;
}

a {
  text-decoration: none;
}

